* {
    font-family: "Open Sans";
}

::selection {
     background:rgba(0,0,0,5%)
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #fdf6e3;
    margin: 0;
}

h1 {
    color: #dc322f;
}

h2 {
    color: #93a1a1;
}

h3 {
    color: #93a1a1;
}

.content-container {
    width: 100%;
    height: 100%;
}

.word-wrap {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

.icon-container {
    text-align: center;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #268bd2;
}
