.profile {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    position: relative;
    bottom: -45px;
    width: 25%;
}

h1 {
    text-align: center;
    text-decoration: none;
    margin: 8% auto;
    max-width: 300px;
    font-size: 25px;
}

h2 {
    text-align: center;
    margin: 8% auto;
    max-width: 300px;
    font-size: 18px;
}

h3 {
    text-align: center;
    margin: 8% auto;
    max-width: 300px;
    font-size: 17px;
}

.icon {
    height: 32px;
    width: 32px;
    padding: 16px;
}
