.profile {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    position: relative;
    bottom: -45px;
    width: 10%;
}

h1 {
    text-align: center;
    text-decoration: none;
    margin: 3% auto;
    max-width: 300px;
    font-size: 30px;
}

h2 {
    text-align: center;
    margin: 3% auto;
    max-width: 300px;
    font-size: 20px;
}

h3 {
    text-align: center;
    margin: 3% auto;
    max-width: 300px;
    font-size: 18px;
}

.icon {
  width: 64px;
  height: 64px;
}
